body {

  background-color: #eadec1;
}
body {
  font-family: "Fontdiner Swanky", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(204, 141, 138);
}

div {
  background-color: #eadec1;
}
